################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/TddDay1/packages
/TddDay1/TddDay1Hw/bin/Debug
/TddDay1/TddDay1Hw/obj/Debug
